/*
Main color #223240
*/
/*------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #5c5c5c;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

/*------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

/*-----HEADINGS-----*/

h1,
h2 {
    text-transform: uppercase;
    color: #2e2e2e;
}

h1 { 
    text-align: center;
    font-size: 280%;
    font-weight: 600;
    letter-spacing: 2.5px;
}

h2 { 
    text-align: center;
    font-size: 190%;
    font-weight: 500;
    letter-spacing: 2.5px;
    margin-bottom: 50px;
}

h3 { 
    text-align: center;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
}

h3 span {
    background: rgba(34, 50, 64, 0.65);
}

h2:after {
    display:block;
    height: 2px;
    background-color: #5c5c5c;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

/*-----PARAGRAPHS-----*/

.main-copy {
    font-size: 90%;
    line-height: 145%;
    margin-top: 210px;
    margin-left: -20px;
    color: #2e2e2e;
    width: 30%;
}

.box p {
    font-size: 70%;
    line-height: 145%;
}

/*-----BUTTONS-----*/

.btn {
    width: auto;
    text-decoration: none;
    display: inline-block;
}

.main-btn:link,
.main-btn:visited {
    float: left;
    margin-top: 40px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 150px;
    padding: 7px 15px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.main-btn:hover,
.main-btn:active {
    color: #fff;
    background-color: #525252;
    border-color: #525252;
    border: 1px solid #525252;
}

.red-btn:link,
.red-btn:visited {
    background-color: rgba(214, 62, 62, 0.90);
    border: 1px solid rgba(214, 62, 62, 0.90); 
    color: #fff;
    border-radius: 150px;
    padding: 7px 15px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-left: 30%;
    margin-bottom: 90px;
}

.red-btn:hover,
.red-btn:active {
    background-color: rgba(191, 55, 55, 0.9);
    border-color: rgba(191, 55, 55, 0.9);
    border: 1px solid rgba(191, 55, 55, 0.9);
} 

/*-----LINKS-----*/

header a:link,
header a:visited {
    color: #484848;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s, color 0.2s;
    /*margin-left: 10%;*/
}

header a:hover,
header a:active {
    border-bottom: 1px solid #484848;
}

.safety-procedure:link,
.safety-procedure:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s, color 0.2s;
    margin-left: 10%;
}

.safety-procedure:hover,
.safety-procedure:active {
    border-bottom: 1px solid #fff;
}

.footer-nav a:link,
.footer-nav a:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s, color 0.2s;
}

.footer-nav a:hover,
.footer-nav a:active {
    border-bottom: 1px solid #fff;
}

/*------------------------------------------------*/
/*HEADER*/
/*------------------------------------------------*/

header {
    background-image: url(img/header-img.jpg);
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-right: 40px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.secondary-nav { 
    background-color: rgba(255, 249, 242, 0.75);
    text-align: right;
}
.secondary-nav ul { 
    list-style: none;
    padding: 5px 0;
    
}
.secondary-nav li { 
    display: inline-block;
    margin-left: 5%;
}

.far fa-clock,
.fas fa-mobile,
.fas fa-map-marker-alt {
    margin-right: 13px;
}



.main-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%);    /*Чтобы отцентровать основной блок*/
}

/*------------------------------------------------*/
/*TRACKS*/
/*------------------------------------------------*/

.section-tracks {
    background-color: #f2f2f2;
}

.box {
    color: #fff;
    background-color: #223240;
}

.box img {
    width: 100%;
    height: auto;
}

.box-1 {
    padding: 7px 15px
}

.box-2 {
    width: auto;
    height: 100px;
    padding: 10px 20px 10px 30px;
}

.tracks-features {
    text-align: center;
    padding: 1px 0;
}

.tracks-2,
.tracks-4{
    margin-top: 90px;
}

/*------------------------------------------------*/
/*ACTIONS*/
/*------------------------------------------------*/

.box-actions {
    background-color: #fff;
    position: relative;
    color: #fff;
}

.box-actions img {
    width: 100%;
    height: auto;

}

.box-actions h3 {
    position: absolute;
    font-size: 150%;
    text-align: left;
    margin-left: 10px;
    margin-top: 280px
}

/*------------------------------------------------*/
/*ABOUT US*/
/*------------------------------------------------*/

.section-about-us {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/about-us.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px 150px 30px 150px;
}

.section-about-us h2 {
    color: #fff;
}

.section-about-us h2:after {
    display:block;
    height: 2px;
    background-color: #fff;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.section-about-us p {
    font-size: 120%;
    font-weight: 300;
}

.about-us-1 {
    float: left;
    width: 30%;
    margin-left: 20px;
    text-align: left;
    margin-bottom: 40px;
}

.about-us-2 {
    float: left;
    margin-left: 50px;
    width: 30%;
    text-align: left;
    margin-bottom: 40px;
}

.about-us-3 {
    float: right;
    margin-right: 20px;
    width: 30%;
    text-align: left;
    margin-bottom: 40px;
}

.section-about-us i {
    font-size: 200%;
}

.actions-icons {
    margin-left: 120px;
}

.box-about-us img {
    width: 100%;
    height: auto;
    padding: 40px 30px;
}

/*------------------------------------------------*/
/*Price*/
/*------------------------------------------------*/

.section-price {
    background-image: url(img/price.jpg);
    background-size: cover;
    background-position: top;
}

table {
    font-size: 100%;
    color: #fff;
    text-align: center;
    border-spacing: 0;
    margin-bottom: 50px;
}


.table-price:link,
.table-price:visited {
    
}

.table-price:hover,
.table-price:active {
    border: 1px solid #626262; 
}

.table-price:checked,
.table-price:active {
    transition-property: 1px solid #d63e3e;
    transition-duration: 3s;
}


.table-dark {
    background-color: rgba(34, 50, 64, 0.65);
    padding: 10px 20px; 
    width: 30%;
}

.table-white {
    background-color: rgba(255, 249, 242, 0.75);
    color: #626262;
    padding: 10px 50px;
}

.table-dark-text {
    color: #2f2f2f;
    background-color: rgba(245, 245, 245, 0.44);
}



.feedback-h2 {
    color: #fff;
    margin-top: 10px;
}

.feedback-h2:after {
    display:block;
    height: 2px;
    background-color: #fff;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.feedback-box {
    text-align: center;
    padding-bottom: 40px;
}

.feedback-box img {
    width: 40%;
    height: auto;
    border-radius: 50%;
}

.feedback-section {
    background-color: rgba(255, 249, 242, 0.4);
    padding: 10px 10px;
}


/*------------------------------------------------*/
/*Footer*/
/*------------------------------------------------*/


footer {
    background-color: #223240;
    color: #fff;
}

.footer-nav {
    letter-spacing: 1px;
}

.footer-ul-1 li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px;
}

.footer-ul-2 {
    margin-top: 40px;
}
.footer-ul-2 li {
    display: block;
    margin-top: 5px;
}

.footer-box-1 {
    float: right;
    
}

.footer-social {
    margin-top: 30px;
    font-size: 150%;
}

.footer-box iframe {
    width: 100%;
    height: auto;
}
